body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 30%);
}

#calculator {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 15%);
  font-family: Arial, sans-serif;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;

}
 
#buttons{
  display: flex;
  flex-direction: column;
  padding: 24px;
}

button{
  height: 100px;
  width: 100px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  border-radius: 50px;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
}

button:hover{
  background-color: hsl(0, 0%, 30%);
}

button:active{
  background-color: hsl(0, 0%, 40%);
}

.operator{
  background-color: hsl(39, 100%, 50%);
}

.operator:hover{
  background-color: hsl(39, 100%, 60%);
}

.operator:active{
  background-color: hsl(39, 100%, 70%);
}